<div class="intro_Rules">
    <div class="container_Rules">
        <nav class="nav">
            <a href="#start"><div id="main" class="link">Главная</div></a>
        </nav>
        <h1 class="header_Rules">Правила игры!</h1>
        <p class="text">
            Цель игры - перемещать рядом стоящие камни так, чтобы они образовывали<br>
            горизонтальные или вертикальные линии из трех или более камней одного цвета.<br>
            Совпадающие по цвету камни уничтожаются, Вы зарабатываете баллы.Удачи!
        </p>
    </div>
</div>