body{
    margin: 0;
    color: #333;
    line-height: 1.6; /* межстрочный интервал */
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

.root{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background: url(../images/02.jpg)  no-repeat 0 100% fixed;
    background-size: cover; /* занимало всю пдощать окна */
}

a{
    text-decoration: none;
}

a, a:visited {
    color: #333;
}

/*Header */
.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    position:absolute;
    top:10px;
    left:0;
    right: 0;
    z-index: 1000;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    color: white;
    font-family: "Kaushan Script", cursive;
}

.inform{
    position: relative;
    vertical-align: top;
    margin: 0 15px;
    text-decoration: none;
}

.nav{
    position: relative;
    text-transform: uppercase;
    font-size: 16px;
}

.link{
    font-family: Arial;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 20px 55px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.2s linear;
}

.link:after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    top: 100%;
    display: none;
}

.link:hover{
    color: wheat;
}

.link:hover:after{
    display: block;
}

/*Intro */

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: 100vh;
}

.container{
    display: flex;
    width: 100%;
    margin: 0 auto 40px;
}

.main_item{
    width: 100%;
    padding: 90px 0;
    display: flex;
    justify-content: left;
}

.btn_start{
    width: 25%;
    height: 100%;/* если сверу- поставить 15%*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#b_start{
    align-items: center;
}

.left_count{
    width: 15%;
    font-family: "Kaushan Script", cursive;
    color: yellow;
    font-weight: bold;
    font-size: 25px;
    padding: 5px;
    line-height: 0.5;
    justify-content: center;
}

.count{
    display: flex;
    justify-content: center;
    width: 50%;
}

#mainField{
    color: #444455;
    margin: 0 40px;
    justify-content: center;
}

/*Start page */
.play{
    display: flex;
    justify-content: center;
    width: 60%;
}

#buttons {
    margin: auto auto auto 0;
    align-items: center;
}

.name{
    font-size:140px ;
    color: coral;
    text-shadow: 4px 3px 0px #000000, 9px 8px 0px rgba(0,0,0,0.15);
}

.btn{
    align-content: center;
    height:60px;
    width: 200px;
    margin: auto;
    top: 200px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border: 1px solid rgb(250,172,17);
    border-radius: 7px;
    background: rgb(255,212,3) linear-gradient(rgb(255,212,3), rgb(248,157,23));
}

.btn:hover{
    box-shadow: inset 0 -1px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,.5);
}

.btn:active{
    border-color: rgba(177,159,0,1);
    box-shadow: inset 0 -1px 1px rgba(0,0,0,.1), inset 0 1px 2px rgba(0,0,0,.3), inset 0 0 0 60px rgba(255,255,0,.45);
}

li {
    list-style-type: none; /* Убираем маркеры */
}

@keyframes nabor-teksta {
    from { width: 0 }
    to { width: 100% }
}

.name{
    animation: nabor-teksta 4s;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
}

/*Rules page */
.intro_Rules{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: 100vh;
}

.container_Rules {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.header_Rules{
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-family: "Kaushan Script", cursive;
    color: wheat;
}

.text{
    width: 100%;
    color: white;
    font-size: 20px;
    text-align: center;
}

/* Timer */
.timer{
    width: 25%;
}

#visual-timer {
    height: 498px;
    margin: 0 50px;
    width: 40px;
    justify-content: center;
}

.height-change {
    animation-name: heightChange;
    animation-duration: 60s;
    animation-direction: normal;
    animation-timing-function: linear;
}

#timer-wrapper {
    position: fixed;
    width: 20%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    top: 50%;
    transform: translate(-50%, -50%);
}

#time {
    font-size: 45px;
    text-align: center;
    color: white;
}

.svg-container{
    display: flex;
    position: relative;
    width: 374px;
    height: 498px;
    margin: 0 auto;
}

.svg-content{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

@media screen and (max-width: 800px) {
    .intro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 800px;
        height: 100vh;
    }

    .container {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .play {
        display: flex;
        justify-content: center;
        height: 50%;
        width: 100%;
    }

    .name{
        font-size:90px ;
        color: coral;
        text-shadow: 4px 3px 0px #000000, 9px 8px 0px rgba(0,0,0,0.15);
    }
    #buttons {
        margin: auto auto auto 0;
        align-items: center;
    }

    .header{
        height: 10%;
    }
    .header_inner{
        height: 40%;
    }

    .main_item{
        max-width: 800px;
        padding: 60px 0px;
    }

    .btn_start{
        width: 25%;
        top:50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #b_start{
        align-items: center;
        width: 130px;
        height: 45px;
        font-size: 20px;
        line-height: 1;
    }

    .left_count{
        width: 20%;
        font-size: 18px;
        line-height: 1;
    }

    .logo{
        font-size: 18px;
    }
    .nav{
        font-size: 14px;
    }

    .count{
        display: flex;
        justify-content: center;
        width: 65%;
    }
    #mainField{
        color: #444455;
        margin: 0 40px;
        justify-content: center;

    }
    .intro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 800px;
        height: 100vh;
    }

    .svg-container{
        display: flex;
        position: relative;
        width: 374px;
        height: 498px;
        margin: 0 auto;
    }

    .svg-content{
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
    }
    .timer{
       width: 10%;
    }
    #time {
        font-size: 20px;
    }
    #visual-timer{
        display: none;
        height: 40%;
    }

    #timer-wrapper{
        top:13%;
    }
}
