body{
    margin: 0;
    font-size: 15px;
    color: #333;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
    margin: 0 auto;
}
.play{
    display: flex;
    justify-content: center;
    width: 60%;
}
#buttons {
    margin: auto auto auto 0;
    align-items: center;
}
.name{
    font-size:140px ;
    color: coral;
    text-shadow: 4px 3px 0px #000000, 9px 8px 0px rgba(0,0,0,0.15);
}
.btn{
    align-content: center;
    height:60px;
    width: 200px;
    margin: auto;
    top: 200px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border: 1px solid rgb(250,172,17);
    border-radius: 7px;
    background: rgb(255,212,3) linear-gradient(rgb(255,212,3), rgb(248,157,23));
}
.btn:hover{
    box-shadow: inset 0 -1px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,.5);
}
.btn:active{
    border-color: rgba(177,159,0,1);
    box-shadow: inset 0 -1px 1px rgba(0,0,0,.1), inset 0 1px 2px rgba(0,0,0,.3), inset 0 0 0 60px rgba(255,255,0,.45);
}
li {
    list-style-type: none; /* Убираем маркеры */
}

@keyframes nabor-teksta {
    from { width: 0 }
    to { width: 100% }
}

.name{
    animation: nabor-teksta 4s;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
}

@media screen and (max-width: 800px) {
    .intro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 800px;
        height: 100vh;
    }

    .container {
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    .play {
        display: flex;
        justify-content: center;
        height: 50%;
        width: 100%;
    }

    .name{
        font-size:90px ;
        color: coral;
        text-shadow: 4px 3px 0px #000000, 9px 8px 0px rgba(0,0,0,0.15);
    }
    #buttons {
        margin: auto auto auto 0;
        align-items: center;
    }
}
